*{
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
}

html {
  background-image: url(img1/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
max-width: 800px;
margin: 0 auto;
margin-top: 40px;
}

.h_1 {
  max-width: 800px;
  margin-left: 800px;
  color: rgb(226, 192, 43);
  margin-top: 40px;
}


